@charset "UTF-8";

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*********************************/
/* animation loading spinner*/
@keyframes spin {
  0% {
    visibility: visible;
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(-50%, -50%) rotate(340deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
    visibility: none;
  }
}

/* apparition du full container après le loading*/
@keyframes opacity {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* appartition progressive du remplissage du coeur*/
@keyframes progress-bar {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* animation apparition progressive des plats*/
@keyframes slidein {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(50%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*modification ombre bouton commander*/
@keyframes ombre {
  from {
    box-shadow: 10px 10px rgba(180, 74, 209, 0.158);
  }
}

/***************************************************/

body {
  font-family: "Roboto", sans-serif;
  padding: 0px 18px 0px 18px;
  margin: 0px;
  overflow-x: hidden;
}

.loader {
  position: fixed;
  z-index: 999;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356dc;
  border-bottom: 16px solid #9356dc;
  border-radius: 50%;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  animation: spin 2s linear;
  visibility: hidden;
}

.logo_ohmyfood {
  text-align: center;
}

.logo {
	text-align: center;
	padding: 1rem 0 0 1rem;
}

.map {
	text-align: center;
	background-color: #dfe6ee;
	box-shadow: inset 0px 5px 2px 0px rgb(0 0 0 / 20%);
	padding: 1rem;
}

.map i {
	padding-right:20px;
}

.info {
  background-color: #f1f1f3;
  padding: 20px 20px 40px 20px;
  text-align: center;
}

.titre {
	text-align: center;
}

.subtitre {
	text-align: center;
	font-weight: 300;
}

button {
	background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
	border-radius: 50vw;
  box-shadow: 1.5px 2px 10px 0.1px rgb(0 0 0 / 10%);
  color: #fff;
  font-weight: 700;
  position: relative;
  z-index: 1;
  padding: 1rem;
  border: none;
}

.choisir_box_element {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
  align-items: center;
  box-shadow: 0 6px 10px #0000004b;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
}

.choisir_box_element_eat {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
  align-items: center;
  background: #f2f2f2;
  border-radius: 25px 25px 25px 25px;
  padding: 10px;
}

.number_box {
  background: #9356DC;
  border-radius: 20px;
  padding: 0.5rem 0.8rem;
  margin-left: -85px;
}

.choisir_box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
} 

.choisir_box i {
  color: #6a6767;
}

.choisir_box_element:hover {
  background-color: #f2f2f2;
}

.item_green {
  position: absolute;
  text-align: center;
  right: 20px;
  font-size: small;
  font-weight: bold;
  background: #99e2d0;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 50%);
  border-radius: 2px;
  color: green;
  padding: 7px 17px 7px 17px;
  bottom: 16rem;
}

.restaurant_4menu {
	display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  height: 100%;
}

.restaurant_list {
  border-radius: 15px;
  -webkit-box-shadow: 1.5px 2px 10px 0.1px rgb(0 0 0 / 10%);
  box-shadow: 1.5px 2px 10px 0.1px rgb(0 0 0 / 10%);
  background-color: #fff;
  margin-bottom: 1rem;
  position: relative;
}

.restaurant_list {
  background-color: white;
  border-radius: 20px;
  position: relative;
  width: 25%;
  height: 300px;
}

.restaurant_img {
  object-fit: cover;
  width: 100%;
  max-height: 210px;
  min-height: 180px;
  border-radius: 20px 20px 0 0;
}

.text_restaurant {
  margin-top: -5px;
  margin-left: 10px;
}

.text_restaurant a {
  text-decoration: none;
  color: black;
}

.titre_restaurant {
  font-size: 20px;
}

.text_restaurant p {
  margin-top: -15px;
  font-size: 18px;
}

.text_restaurant i {
  position: absolute;
  top: 240px;
  right: 25px;
  font-size: 1.5rem;
}

/************/
@keyframes heart {
  from {bottom:#9536dc;}
  to {top:#9536dc;}
}

.icon_empty {
  position: absolute;
  z-index: 2;
  right: 10px;
  opacity: 1;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.icon_empty:hover {
  color: #9536dc;
  transition-property: color;
  transition-duration: 2s;
  transform-origin: bottom to top;
  color: linear-gradient(bottom to top, #9356dc, #ff79da);
}

footer {
  position: relative;
  background-color: #353535;
  display: flex;
  flex-direction: column;    
}

.titre_footer {
  color: white; 
  font-family: "Shrikhand", cursive;
  font-weight: initial;
  margin-top: 1.5rem;
  margin-left: 30px;
}

span {
  color: white;
}

.no_icon a {
  padding-top:10px;
}

.fonctionemment {
  text-align: center;
}

footer a {
  text-decoration-line: none;
  color: white;
}

footer ul {
  margin-top: -10px;
  margin-left: 10px;
}

footer ul li {
  list-style-type: none;
  margin-left:-20px;
  margin-top: 8px;
}

footer i {
  padding: 5px;
}


/***********************iPhone 6/7/8******************************/

@media only screen and (max-width:600px) {

  body {
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
  }

  .arrow_left {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 20px;
    color: black;
  }

  .logo_ohmyfood {
    text-align: center;
  }

  .logo {
    width: 40%;
    padding: 2rem 1rem 0.5rem 1rem;
  }

  .map {
    height: 30px;
  }

  .map i {
    padding-right: 10px;
  }

  .searchterm {
    margin-top: 0.5rem;
  }

  .titre {
    text-align: center;
    font-size: 26px;
  }

  .info {
    background-color: #f1f1f3;
    padding: 20px 20px 40px 20px;
  }

  .fonctionemment {
    text-align: initial;
    font-size: 24px;
    margin-top: 100px;
  }

  .number_box {
    margin-left: -45px;
  }

  .choisir_box {
    display: flex;
    flex-direction: column;
  }

  .choisir_box_element {
    width: 90%;
  }

  article {
    background-color: #f1f1f3;
    padding: 5px 0px 20px 0.2px;
    margin-top: 60px;
  }

  .item_green {
    position: absolute;
    text-align: center;
    right: 20px;
    font-size: small;
    font-weight: bold;
    background: #99e2d0;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 50%);
    border-radius: 2px;
    color: green;
    padding: 7px 17px 7px 17px;
    bottom: 13rem;
  }

  .titre_4menu {
    margin-left: 20px;
    margin-top: 50px;
  }

  .restaurant_4menu {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding-left: 0px;
  }

  .choisir {
    margin-left: 30px;
  }

  .restaurant_list {
    background-color: white;
    border-radius: 20px;
    position: relative;
    width: 90%; 
    height: max-content;
  }

  .restaurant_img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 120px;
  }

  .text_restaurant {
    margin-top: -10px;
    margin-left: 10px;
  }

  .text_restaurant i {
    position: absolute;
    top: 210px;
    right: 25px;
    font-size: 1.5rem;
  }

  .titre_footer {
    margin-top: 1.5rem;
    margin-left: 20px;
  }  

  footer ul {
    margin-top: -10px;
    margin-left: 0;
  }

}

/************************************css menu restaurant***************************************/
.nom_restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem 0 2rem;
  font-family: "Shrikhand", cursive;
  font-weight: 100;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f3;
  font-weight: bold;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -40px;
}

.list_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.carte_menu {
  margin: 20px 0;
  animation: linear 1s slidein;

}

.carte_menu li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 19%);
  border-radius: 20px;
  margin: 20px;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
}

.nom_plat {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0 0px 10px;
  margin: 0;
}

.description p {
 padding: 5px 10px 5px 0;
 margin: 0 0 5px 0;
 overflow: hidden;
 text-overflow: ellipsis;
}


.description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: lighter;
  padding: 5px 0 5px 10px;
  margin: 0 0 5px 0;
}

.prix {
  font-weight: bold;
  align-self: flex-end;
  margin: 0 10px 10px 10px;
}

.carte_menu h3 {
  font-weight: lighter;
  border-bottom: 4px solid #99e2d0;
  width: 10%;
  margin: 0 0 0 20px;
  padding: 0 0 8px 0;
}

.carte_menu ul {
  padding-left: 0;
  white-space: nowrap;
}

.menu_choix {
  display: block;
  background-color: #99e2d0;
  position: relative;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  padding: 40px 0px;
    text-align: center;
    width: 15%;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    border-radius: 0px 20px 20px 0px;
    margin-top: -99px;
    margin-left: 20px;
    opacity: 0;
     animation: 0.5s ease-out reverse;
     animation-name: checkout;
}

@keyframes checkout {
  0% {
    width: 20%;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 0%;
    opacity: 0;
  }
}

.icon-choix  {
  position: absolute;
  top: 35%;
  left: 30%;
  color: white;
  font-size: 1.3em;
  border-radius: 0 20px 20px 0;
  transition: transform 1s;
}

.icon-choix i:hover {
display: block;
transform: rotate (180°);
}

.menu_choix:hover + .prix {
  display: block;
  animation: 500ms ease-in reverse both prix;
  transition: 2s;
}

.prix:hover + .menu_choix {
display: block;
animation: active 500ms 0s both cubic-bezier(0,0.8,0.19, 0.94) reverse;
}

.prix:hover {
  display: block;
  margin-right: 100px;
  transition: 4s; 
  animation: 2s ease-out reverse;
}

@keyframes prix {
  0% {
    margin-left: -50px;
  }

  100% {
    margin-left: 0px;
  }
}


@keyframes prix:hover {
  0% {
    margin-right: 0px;
  }

  100% {
    margin-right: 100px;
  }
}

.plat:hover +.menu_choix {
animation: 3s ease-out reverse choix;
}

 @keyframes choix {

  0% {
     width: 15%;
    opacity: 1;
  }

  50% {
    width: 7%;
    opacity: 1;
  }

  100% {
    width: 0%;
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/***************************/

.commander {
  text-align: center;
  margin-bottom:20px;
}

.commander a {
  color: white;
  text-decoration: none;
  position: relative;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 10px ;
  border-radius: 30px;
}


/***************************css menu iPhone8*******************************/

@media only screen and (max-width:600px) {

  .header_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .list_menu {
    display: flex;
    flex-direction: column;
  }

}